<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>User List</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(users)}">
			<h2>User List</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>User Name</th>
					<th>Email Address</th>
					<th>Role</th>
					<th>Address</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.userId}"><a href="/user/${user.userId}">User Id</a></td>
					<td th:text="${user.name}">User Name</td>
					<td th:text="${user.email}">Email Address</td>
					<td th:text="${user.role}">Role</td>
					<td><a th:href="${'/admin/user/' + user.userId}">View</a></td>
					<td><a th:href="${'/admin/user/edit/' + user.userId}">Edit</a></td>
					<td><a th:href="${'/admin/user/delete/' + user.userId}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>