<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>User List</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="/users/volunteer/user_dash :: header"></th:block> /*/-->
</div>
	<div class="container">
		<div th:if="${not #lists.isEmpty(projects)}">
			<h2>Project List</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Project Name</th>
					<th>Project Description</th>
					<th>Location</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
				</tr>
				<tr th:each="project : ${projects}">
					<td th:text="${project.projectId}"><a href="/project/${project.projectId}">Project Id</a></td>
					<td th:text="${project.projectname}">Project Name</td>
					<td th:text="${project.description}">Description</td>
					<td th:text="${project.location}">Location</td>
					<td th:text="${project.startDate}">Start Date</td>
					<td th:text="${project.endDate}">End Date</td>
					<td th:text="${project.projectStatus}">Status</td>
					<td><a th:href="${'/volunteer/project/' + project.projectId}" class="btn btn-primary">View</a></td>
					<td><a th:href="${'/volunteer/project/edit/' + project.projectId}" class="btn btn-warning">Edit</a></td>
				</tr>
			</table>
		<a href="/volunteer/dashboard" class="btn btn-primary">Go to Volunteer Dashboard</a>
		</div>
	</div>

</body>
</html>